{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="home-bg">

    <section class="home">

   <div class="swiper home-slider">
   
   <div class="swiper-wrapper">

      <div class="swiper-slide slide">
         <div class="image">
            <img src="{{ asset('../assets/img/home-img-1.png') }}" alt="">
         </div>
         <div class="content">
            <span>promociones</span>
            <h3>smartphones</h3>
            <a href="catalogo.php" class="btn">comprar ahora</a>
         </div>
      </div>

      <div class="swiper-slide slide">
         <div class="image">
            <img src="img/home-img-2.png" alt="">
         </div>
         <div class="content">
            <span>hasta -30% </span>
            <h3>ultimos smartwatches</h3>
            <a href="catalogo.php" class="btn">comprar ahora</a>
         </div>
      </div>

      <div class="swiper-slide slide">
         <div class="image">
            <img src="img/home-img-3.png" alt="">
         </div>
         <div class="content">
            <span>top ventas</span>
            <h3>consolas</h3>
            <a href="catalogo.php" class="btn">comprar ahora</a>
         </div>
      </div>

   </div>

      <!-- <div class="swiper-pagination"></div> -->
      <!-- Flechas laterlas desplazamiento -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

   </div>

</section>

</div>
{# <style> 
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/carpe/OneDrive/Documentos/02 ORTZI/02 DAW/proyecto_final/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/carpe/OneDrive/Documentos/02 ORTZI/02 DAW/proyecto_final/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div> #}
{% endblock %}
